@font-face {
    font-family: "proxima-nova";
    src: url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n4&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "proxima-nova";
    src: url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?primer=388f68b35a7cbf1ee3543172445c23e26935269fadd3b392a13ac7b2903677eb&fvd=n7&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

:root {
    --black: #252525;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "proxima-nova", sans-serif;
    color: var(--black);
}

a {
    color: var(--black);
    text-decoration: none;
    font-family: "proxima-nova", sans-serif;
}

/*----------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    box-shadow: inset 4px 4px 0px rgba(255, 255, 255, 0.2), inset -4px -4px 0px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*----------------------------------------------------------------*/

.title-style {
    color: var(--black);
    font-family: "proxima-nova", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    text-decoration: none;
}
.p-style {
    color: var(--black);
    font-family: "proxima-nova", sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

.button-style {
    display: inline-block;
    padding: 12px;
    padding-inline: 16px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0px 2px 0px #0079ba;
    background-color: #00a8ff;
    box-shadow: inset 4px 4px 0px #79d0ff, inset -4px -4px 0px #0079ba;
    transition: all 200ms ease-in-out;
}

/*----------------------------------------------------------------*/

.server-info {
    width: 100%;
    height: fit-content;
    margin-block: 60px;
}
.server-img {
    width: 1110px;
    height: 500px;
    margin-inline: auto;
    background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2021/03/Patrick_Blog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 200ms ease-in-out;
}
.server-info h1 {
    width: 1000px;
    margin-top: 30px;
    margin-inline: auto;
    text-align: center;
}
.server-description {
    width: 800px;
    margin-top: 16px;
    margin-inline: auto;
    text-align: center;
}

/*----------------------------------------------------------------*/

.news-container {
    width: 1110px;
    height: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 60px;
}
.news {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 310px;
}
#news-img1 {
    background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2022/07/Summer_Blog.jpg");
}
#news-img2 {
    background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2022/03/Badlands_Blog.jpg");
}
.news-img {
    width: 528px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 200ms ease-in-out;
}
.news-text {
    width: 528px;
}

.news-description {
    margin-top: 12px;
    margin-bottom: 16px;
}

.news2 {
    margin-top: 50px;
}